header .container,
.section .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 40px 0;
}
/* 共用樣式 section1,2,4*/
/* .contentWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.section-success .container,
.section-challenge .container,
.section-contactUs .container,
.section-signUp .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* .section .imgWrap.offset-1 {
  margin-right: 100px;
} */
/* section-success */
.section .content {
  width: 410px;
}
.section .content > :not(:first-child) {
  margin-top: 40px;
}
.section .imgWrap {
  position: relative;
}
/* section-success */
.section-success h2 {
  font-size: 50px;
}
.section-success .imgWrap {
  margin-left: 225px;
}
.section-success {
  background: url("../../img/asset 30.svg") no-repeat 62% 10%,
    url("../../img/asset 29.svg") no-repeat left bottom;
}
/* section-challenge */
.section-challenge .container {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.section-challenge .content {
  margin-left: 150px;
}
/* section-service */
.section-service {
  background: url("../../img/asset 32.svg") no-repeat right top,
    url("../../img/asset 31.svg") no-repeat left 81%;
}
/* section-contactUs */
.section-contactUs {
  background: url(../../img/asset\ 33.svg) no-repeat 85% 38%,
    url(../../img/asset\ 34.svg) no-repeat 52% 87%;
}
.section-contactUs .imgWrap {
  margin-left: 220px;
}
.section-contactUs .btns .btn + .btn {
  margin-left: 20px;
}
/* service */
.section-service h2 {
  margin-bottom: 40px;
}
.section-service .cards {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light);
}
.section-service .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 370px;
  padding: 50px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 40px 2px #00000010;
}
.section-service .card:nth-child(3n + 2),
.section-service .card:nth-child(3n + 3) {
  margin-left: 30px;
}
.section-service .card img {
  border-radius: 50%;
  margin-bottom: 40px;
}
.section-service .card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.section-service p {
  color: var(--gray);
  flex-grow: 1;
  margin-bottom: 32px;
}
.section-service .card b {
  display: block;
  margin-top: auto;
}
.section-service .card a:hover {
  color: var(--primary);
}
.section-service .card a {
  font-size: 16px;
  font-weight: 500;
}

/* studio */
.section-studio {
  background: url(../../img/asset\ 37.svg) no-repeat right 20%,
    url(../../img/asset\ 36.svg) no-repeat 93% 30%,
    url(../../img/asset\ 35.svg) no-repeat 98% 90% #2470ff;
}
.section-studio .container {
  color: var(--light);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.section-studio .cards {
  width: 585px;
}
.section-studio .text {
  width: 350px;
}
.section-studio .card {
  width: 270px;
  padding: 50px 25px;
  margin-bottom: 25px;
  background-color: #3f81ff;
  border-radius: 10px;
  box-shadow: 0 0 0px 1px #307cff;
  float: left;
}
.section-studio .card:nth-child(even) {
  margin-left: 25px;
}
.section-studio dt {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 16px;
}
.section-studio dd {
  font-size: 14px;
}
.section-studio .text {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.section-studio .text > * {
  margin-bottom: 32px;
}
.section-studio p {
  font-size: 14px;
  font-weight: 100;
  color: var(--light);
}
.section-studio .btn {
  color: var(--light);
  border: 1px solid var(--light);
}
.section-studio .btn:hover {
  background-color: var(--primary);
  border-color: transparent;
}

/* work flow */
.section-workFlow {
  /* 38/39/40 */
  background: url(../../img/asset\ 40.svg) no-repeat right 14%,
    url(../../img/asset\ 39.svg) no-repeat left 37%,
    url(../../img/asset\ 38.svg) no-repeat right 88.5%;
}
.section-workFlow h2 {
  margin-bottom: 40px;
}
/* card 基本 */
.section-workFlow .card {
  display: flex;
  align-items: center;
}
/* card 單數 樣式 */
.section-workFlow .card:nth-child(odd) {
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
/* card 單數 特別 */
.section-workFlow .card-1 {
  padding-right: 30px;
}
.section-workFlow .card-3 {
  padding-top: 10px;
  padding-bottom: 40px;
}
.section-workFlow .card-3 .card-outerImg {
  margin-left: -50px;
  margin-right: 110px;
}
.section-workFlow .card-5 {
  padding-top: 80px;
}
.section-workFlow .card-5 .card-content {
  margin-bottom: auto;
}
/* card 雙數 */
.section-workFlow .card:nth-child(even) {
  flex-direction: row-reverse;
}
.section-workFlow .card:nth-child(even) .card-outerImg {
  margin-right: 90px;
}
/* card 雙數 特別 */
.section-workFlow .card-2 .card-content {
  align-items: flex-start;
}
.section-workFlow .card-4 .card-content {
  width: 550px;
}
.section-workFlow .card-content {
  display: flex;
  align-items: center;
  width: 530px;
}
.section-workFlow h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.section-workFlow p {
  font-size: 14px;
  color: var(--gray);
}
.section-workFlow .card-innerImg {
  position: relative;
  margin-right: 50px;
  width: 80px;
  height: 80px;
}
.section-workFlow .card-content .text {
  width: 0;
  flex-grow: 1;
}
.section-workFlow .card-innerImg img {
  border-radius: 50%;
  width: 100%;
}
/* card-path */
.section-workFlow .card-path {
  position: absolute;
  top: 110%;
}
.section-workFlow .card-1 .card-path {
  top: 110%;
  right: 100%;
}
.section-workFlow .card-2 .card-path {
  top: 130%;
  left: 35%;
}
.section-workFlow .card-3 .card-path {
  top: 120%;
  right: 60%;
}
.section-workFlow .card-4 .card-path {
  left: 55%;
  top: 130%;
}

/* section-project */
.section-project {
  background: url(../../img/asset\ 41.svg) no-repeat left 28% #fafbff;
}
.section-project .text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.section-project .cards {
  display: flex;
  flex-flow: wrap;
  margin-top: 50px;
}
.section-project .card {
  width: 361px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.section-project .card:nth-child(3n + 2),
.section-project .card:nth-child(3n + 3) {
  margin-left: 30px;
}
.section-project .mask {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  background-color: rgb(115 223 129/0.98);
  transition: opacity 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: inherit;
}
.section-project .card:hover .mask {
  opacity: 1;
}
.section-project h3 {
  font-size: 36px;
}
.section-project h3,
.section-project a {
  color: var(--light);
}
/* section-signUp */
.section-signUp {
  padding: 80px 0;
  background: url(../../img/asset\ 42.svg) no-repeat right 10.75%;
}
.section-signUp form {
  width: 450px;
  background-color: var(--light);
  padding: 40px;
  margin-right: auto;
  margin-left: 100px;
  border-radius: 6px;
  box-shadow: 0 0 60px 0 #00000015;
}
.section-signUp form > :not(:first-child) {
  margin-top: 20px;
}
.section-signUp button {
  border: unset;
}
.section-signUp textarea {
  min-height: 100px;
  resize: vertical;
}

/* subscribe */
.section-subscribe {
  background: url(../../img/asset\ 44.svg) no-repeat left 25%,
    url(../../img/asset\ 43.svg) no-repeat 95% 70% #fdfdff;
}
.section-subscribe h2 {
  text-align: center;
  margin-bottom: 32px;
}
.section-subscribe .inputArea {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.section-subscribe .inputArea input {
  width: 0;
  flex-grow: 1;
  border-right: none;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  box-shadow: 0 0 20px 0 #00000010;
}
.section-subscribe .inputArea button {
  border-radius: 0 4px 4px 0;
}
